* {
  padding: 0;
  margin: 0
}

body {
  background-image: url("Pictures/IMG_5956.JPG");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.content{
   position: relative; 
   padding-top: 1%; 
   padding-bottom: 5%; 
   padding-left: 10%; 
   padding-right: 1%;
   margin: auto;
}

.content1{
	position:relative;
	margin: auto;
	width: 100%;
	top: 1%;
	bottom: 1%;
	left: 10%;
	right: 1%;
}

p.SectionHeader{
	margin-top: 20px;
	margin-bottom: 15px;
	font-weight: bold;
	font-size: 125%;
}

p.small{
	line-height: 1.5;
	margin-left: 1.5%;
	margin-bottom: 10px;
}

li{
	line-height: 1.5;
	margin-left: 1.5%;
	margin-bottom: 10px;
}

