body {
  background-color: whitesmoke;
}

.index_column {
  float: left;
  width: 50%;
  
}

.index_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border: 2px solid;

}